<ion-view view-title="兑换记录">
  <ion-content >
    <div class="list">
      <a class="item item-thumbnail-left" ui-sref="tab.gift-detail">
        <img src="img/ionic.png">

        <h2>Pretty Hate Machine</h2>
        <h4>Nine Inch Nails</h4>
        <button ui-sref="tab.gift-detail" class="button button-positive" style="position: relative;float: right;top: -15px;">
          <i class="icon ion-ios7-telephone"></i>
        </button>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/ionic.png">

        <h2>Pretty Hate Machine</h2>
        <h4>Nine Inch Nails</h4>
        <button class="button button-positive" style="position: relative;float: right;top: -15px;">
          <i class="icon ion-ios7-telephone"></i>
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
