<ion-view view-title="积分商城">
    <ion-content>

        <div class="row">
            <div class="col col-33 col-offset-10" style="text-align: center;vertical-align: middle;top: 12px">
                <span style="position: relative;top: 15px;">积分
                    <span style="font-size: 21px">600</span>
                </span>
            </div>
            <div class="col col-33 col-offset-10" style="text-align: center">
                <button class="button" ui-sref="tab.dash">
                    兑换记录
                </button>
            </div>

        </div>
        <div class="list">
            <a class="item item-thumbnail-left" ui-sref="tab.gift-detail">
                <img src="img/ionic.png">

                <h2>Pretty Hate Machine</h2>
                <h4>Nine Inch Nails</h4>
                <button ui-sref="tab.gift-detail" class="button button-positive" style="position: relative;float: right;top: -15px;">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/ionic.png">

                <h2>Pretty Hate Machine</h2>
                <h4>Nine Inch Nails</h4>
                <button class="button button-positive" style="position: relative;float: right;top: -15px;">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>
